:root {
  --brand-color: #ec7505;
  --secondary-brand-color: #e89005;
  --background-color: #faf9f9;
  --secondary-background-color: #e8eddf;
  --text-color: #242423;
  --secondary-text-color: #333533;
  --white: #f5f7ed;
  --focus-color: rgba(0, 0, 255, 0.336);
  --gray: rgb(145, 145, 145);
  --black: black;
}
