.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 3px;
  width: auto;
  height: auto;
  cursor: pointer;
  font-weight: bold;

  &:focus {
    outline: solid transparent;
    box-shadow: 0 0 0 3px var(--focus-color);
  }
}
