table {
  border-collapse: collapse;
  width: 100%;
  display: block;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 auto;
  overflow-x: auto;
  white-space: nowrap;
}

table {
  td,
  th {
    border: 1px solid var(--light-gray);
    display: inline-flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    min-width: 150px;
  }

  tr {
    display: flex;
    font-size: 12px;
    font-weight: 400;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-word;

    &:nth-child(even) {
      background-color: var(--white);
    }

    &:hover {
      background-color: var(--light-gray);
    }
  }

  th {
    height: 50px;
    text-align: left;
    background-color: var(--secondary-brand-color);
    color: var(--white);
  }
}
